{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}


{% block content %}
    <h2>Helloo SkillFactory!</h2>
    <hr>
    <p><font size="6" face="Times New Roman">Всё меняется.</font></p>
    <p><font size="5" face="Georgia">Чужие становятся родными.</font></p>
    <p><font size="4" face="Arial">Родные чужими.</font></p>
    <p><font size="3" face="Tahoma">Друзья превращаются в прохожих.</font></p>
    <p><font size="2" face="Verdana">Любимые в знакомых.</font></p>
{% endblock content %}